body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #E4C59E; 
  }
  
  .container {
    text-align: center;
    background-color: #AF8260; 
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 20px;
    color: #322C2B; 
  }
  
  input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #803D3B; 
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #803D3B; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.6s;
  }
  
  button:hover {
    background-color: #322C2B; 
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    color: #62261b;
  }
  
  .todo {
    cursor: pointer;
    padding: 15px;
    border-bottom: 2px solid #090909; 
    transition: background-color 0.5s;
   display:flex;
   align-items:center;
  }
  
  .todo:last-child {
    border-bottom: none;
  }
  
  .todo:hover {
    background-color: #803D3B; 
    border-radius: 9px;
  }
  
  .todo.completed {
    text-decoration: line-through;
    color: #322C2B;
  }
  
  .todo > input[type="radio"] {
    margin-right: 15px;
  }
  
  .todo > .delete {
    margin-left: auto;
    background-color: #62261b; 
    padding: 8px;
    border: none;
    border-radius: 50%;
    color: #322C2B;
    transition: background-color 0.3s;
  }
  
  .todo > .delete:hover {
    background-color: #ea1515; 
    color:#090909;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7d7c7b;
    height: 50px; 
}
